.body-v {
  width: 80%;
  padding: 12px;
  border-right: 1px solid #e8e8e8;
}

.right-info-v {
  display: flex;
  align-items: flex-start;

  .label-v {
    min-width: 80px;
    // min-height: 40px;
    text-align: right;
  }
}

.modal-content-v {
  height: 60vh;
  overflow-y: auto;
  transition: all 0.6s ease;
  .loader-v {
    display: grid;
    width: 80%;
    height: 60vh;
    place-items: center;
  }
  .hide-v {
    opacity: 0;
  }

  .show-v {
    opacity: 1;
  }
}
